/* CSS for styling the table */
.pitching-table {
  border-collapse: collapse;
  width: 100%;
}

.pitching-table th,
.pitching-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Specify the width for each column */
.pitching-table th:nth-child(1),
.pitching-table td:nth-child(4) {
  width: 10%; /* Adjust the width for the 1st and 4th columns */
}

.pitching-table th:nth-child(3),
.pitching-table td:nth-child(6) {
  width: 30%; /* Adjust the width for the 3rd and 6th columns */
}

.pitching-table th {
  background-color: #f2f2f2;
}

.pitching-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* CSS for styling the team names */
.game-header {
  font-size: 18px;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 8px;
  margin: 0;
}

.green {
  background-color: lightgreen;
}
